<div th:fragment="filtration_tool">
    <div class="bg-secondary mt-3 mb-3 p-3 rounded-3">

        <div class="nav-item" sec:authorize="isAuthenticated()">
            <label for="filtration_preferences" th:text="#{filtration.filter.saved.filters}+':'"></label>
            <select class="form-control" id="filtration_preferences">
                <option th:each="option : ${listOfPreferences}" th:value="${option}" th:text="${option}">Volvo</option>
            </select>
            <button type="button" class="form-control mt-3 bg-primary text-light border-primary"
                    onclick="sendRequestForFiltrationPreferences(); this.blur();" th:text="#{filtration.filter.load}">Load</button>
        </div>
        <button sec:authorize="isAuthenticated()" type="button" class="form-control mt-3"
                onclick="fillSavingPreferencesForm()"
                th:data-bs-toggle="modal"
                th:data-bs-target="'#save_filtration_preferences_modal'"
                th:text="#{filtration.filter.save}"
        >Save
        </button>
        <hr sec:authorize="isAuthenticated()"/>

        <div class="h4" th:text="#{filtration.filter.by}">Filter by:</div>

        <form id="filtration_settings_form" name="filtration_settings_form" class="form-group" th:object="${filtrationSettings}" th:insert="fragments/filtration :: filtration_input"></form>
    </div>
</div>
<div th:fragment="saving_filtration_preferences_input" id="saving_filtration_preferences_input">
    <div sec:authorize="isAuthenticated()" class="modal fade py-5" tabindex="-1" role="dialog" th:id="'save_filtration_preferences_modal'">
        <div class="modal-dialog">
            <div class="modal-content rounded-5 shadow">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-4 pt-0 text-center">
                    <div class="d-flex justify-content-between align-items-center px-5">
                        <i class="bi bi-archive text-primary" style="font-size: 85px"></i>
                        <h3 class="fw-bold mb-0" th:text="#{filtration.filter.save.preference}">Save Filter</h3>
                    </div>
                    <form id="saving_preference_form" th:action="@{/user/filtration_preferences/add}" method="POST">
                        <div class="d-flex justify-content-between align-items-center mb-3 mt-2">
                            <label for="preference_name" class="col-form-label w-50" th:text="#{filtration.filter.name}"></label>
                            <input type="text" class="form-control rounded-4" id="preference_name" name="preferenceName" placeholder="Enter name...">
                        </div>
                        <input class="hidden_input_element" id="savingDateMin" name="dateMin" type="date"/>
                        <input class="hidden_input_element" id="savingDateMax" name="dateMax" type="date"/>
                        <input class="hidden_input_element" id="savingBidPriceMin" name="bidPriceMin" type="number" step="any"/>
                        <input class="hidden_input_element" id="savingBidPriceMax" name="bidPriceMax" type="number" step="any"/>
                        <input class="hidden_input_element" id="savingAskPriceMin" name="askPriceMin" type="number" step="any"/>
                        <input class="hidden_input_element" id="savingAskPriceMax" name="askPriceMax" type="number" step="any"/>
                        <div th:each="category : ${possibleCurrencies}">
                            <input class="hidden_input_element" th:each="currency : ${category.possibleCurrencies}" type="checkbox" name="currency" th:id="'savingCurrency_' + ${currency.code}" th:value="${currency.code}">
                        </div>
                        <button type="submit" class="form-control mt-4 btn-primary" th:text="#{filtration.filter.save}">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="filtration_input" id="filtration_input">
    <input class="form-control mt-3 bg-primary text-light border-primary" type="submit" th:value="#{filtration.button.filter}"/>
    <button type="button" class="form-control mt-3" onclick="clearFormWithoutSearchBar(); this.blur();" th:text="#{filtration.button.clear}">Clear</button>

    <label for="dateMin" th:text="#{filtration.option.min.date}">Min effective date</label>
    <input class="form-control" id="dateMin" name="dateMin" type="date" th:value="${filtrationSettings.dateMin}"/>
    <label for="dateMax" th:text="#{filtration.option.max.date}">Max effective date</label>
    <input class="form-control" id="dateMax" name="dateMax" type="date" th:value="${filtrationSettings.dateMax}"/>
    <label for="bidPriceMin" th:text="#{filtration.option.min.bid.price}">Min bid price</label>
    <input class="form-control" id="bidPriceMin" name="bidPriceMin" type="number" step="any" th:value="${filtrationSettings.bidPriceMin}"/>
    <label for="bidPriceMax" th:text="#{filtration.option.max.bid.price}">Max bid price</label>
    <input class="form-control" id="bidPriceMax" name="bidPriceMax" type="number" step="any" th:value="${filtrationSettings.bidPriceMax}"/>
    <label for="askPriceMin" th:text="#{filtration.option.min.ask.price}">Min ask price</label>
    <input class="form-control" id="askPriceMin" name="askPriceMin" type="number" step="any" th:value="${filtrationSettings.askPriceMin}"/>
    <label for="askPriceMax" th:text="#{filtration.option.max.ask.price}">Max ask price</label>
    <input class="form-control" id="askPriceMax" name="askPriceMax" type="number" step="any" th:value="${filtrationSettings.askPriceMax}"/>
    <div class="mt-2 text-center">
        <div th:each="category : ${possibleCurrencies}">
            <button type="button" class="form-control mt-3 bg-primary text-light border-primary" th:text="#{'currency.category.'+${category.category}}"
                    th:onclick="uncheckOrCheckAllInputsInCategory([[${category.category}]]);"></button>
            <div th:id="${'filtration_category_'+category.category}">
                <span th:each="currency : ${category.possibleCurrencies}">
                    <input type="checkbox" class="btn-check" name="currency" th:id="'currency_' + ${currency.code}" th:value="${currency.code}"  th:checked="${currency.checked}">
                    <label class="btn btn-outline-dark m-1" th:for="'currency_' + ${currency.code}" th:text="${currency.code}"></label>
                </span>
            </div>
        </div>
    </div>
</div>