<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Header ======= -->
<nav th:fragment="menu" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top py-3">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand">
            <i class="bi bi-coin h3"></i> Rekiny Finansjery
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div th:insert="fragments/general :: language_tool"></div>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{/tables}" class="nav-link">Tables</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#account" class="nav-link">Account</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary mx-lg-2" th:href="@{/}">Sign in</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary mt-2 mt-lg-0" th:href="@{/}">Sign up</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- ======= Footer ======= -->
<div th:fragment="footer" class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Rekiny Finansjery &copy; 2022 InfoShare Academy</p>
        <a href="#" class="position-absolute top-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
        <a href="https://github.com/infoshareacademy/jjdzr5-rekiny-finansjery-web" class="text-white">
            <i class="bi bi-github h2"></i>
        </a>
    </div>
</div>
<!-- ======= Language selector ======= -->
<div th:fragment="language_tool">
    <div class="btn-group">
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="${urlBuilder.replaceQueryParam('lang', 'pl').toUriString()}"
           th:class="'btn btn-outline-secondary'+${#strings.equals(#locale, 'pl') ? ' active' : ''}">
            <img th:src="@{assets/img/flags/pl.png}" alt="Polski" class="language_flag_selector_icon">
        </a>
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}"
           th:class="'btn btn-outline-secondary'+${#strings.equals(#locale, 'en') ? ' active' : '' }">
            <img th:src="@{assets/img/flags/gb.png}" alt="Angielski" class="language_flag_selector_icon">
        </a>
    </div>
</div>
<!-- ======= Pagination ======= -->
<div th:fragment="pagination" class="d-flex justify-content-center"
     th:with="offset=3,bottom_offset=${pageActive - offset},upper_offset=${pageActive + offset},last=${pagesAmount-1}">
    <ul th:class="pagination"
        th:with="start=${bottom_offset < 0 ? 0 : (upper_offset > last ? (bottom_offset - (upper_offset - last) < 0 ? 0 : bottom_offset - (upper_offset - last)) : bottom_offset)},
        end=${upper_offset >= last ? last : (bottom_offset < 0 ? (upper_offset - bottom_offset >= last ? last : upper_offset - bottom_offset) : upper_offset)}">
        <li th:if="${start > 0}" th:class="page-item">
            <a th:class="page-link"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('page', '0').toUriString()}">1</a>
        </li>
        <li th:if="${start > 1}" th:class="page-item">
            <a th:class="page-link">...</a>
        </li>
        <li th:each="counter : ${#numbers.sequence(start,end)}"
            th:class="'page-item '+${counter eq pageActive ? 'active' : ''}">
            <a th:class="page-link"  th:text="${counter+1}"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('page', counter).toUriString()}">#</a>
        </li>
        <li th:if="${end < last - 1}" th:class="page-item">
            <a th:class="page-link">...</a>
        </li>
        <li th:if="${end < last}" th:class="page-item">
            <a th:class="page-link"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('page', last).toUriString()}"
               th:text="${last+1}">Last</a>
        </li>
    </ul>
</div>
</html>