<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<!-- ======= Header ======= -->
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top py-3">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                <i class="bi bi-coin m-0 h3"></i>
                <span>&nbspRekiny Finansjery</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:href="@{/tables}" th:text="#{menu.tables}" class="nav-link">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/#about}" th:text="#{menu.about}" class="nav-link mx-lg-4">About</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-primary mx-lg-2" type="button" th:href="@{/user}">Profil</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:text="#{menu.sign.up}" class="btn btn-outline-primary mt-2 mt-lg-0 mx-lg-2" type="button"
                           th:href="@{/signup}">Sign up</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a th:text="#{menu.sign.out}" href="javascript: document.logoutForm.submit()"
                           class="btn btn-primary mt-2 mt-lg-0 me-lg-4"
                           type="button">Sign out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:text="#{menu.sign.in}" class="btn btn-primary me-lg-4" type="button" th:href="@{/login}">Sign
                            in</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown pt-1">
                            <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownLanguages"
                               data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-globe2 h4"></i></a>
                            <div th:replace="fragments/general :: language_tool"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div th:replace="fragments/messages :: menu_message"></div>

    <div th:if="${param.successMessage != null}" class="alert alert-success d-flex align-items-center justify-content-center" role="alert">
        <div><i class="bi bi-check-circle h3 pe-3"></i></div>
        <div th:text="#{${param.successMessage}}"></div>
    </div>
    <div th:if="${param.errorMessage != null}" class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
        <div><i class="bi bi-exclamation-triangle h3 pe-3"></i></div>
        <div th:text="#{${param.errorMessage}}"></div>
    </div>
</div>

<!-- ======= Footer ======= -->
<div th:fragment="footer" class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Rekiny Finansjery &copy; 2022 InfoShare Academy</p>
        <a href="#" class="position-absolute top-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
        <a href="https://github.com/infoshareacademy/jjdzr5-rekiny-finansjery-web" class="text-white">
            <i class="bi bi-github h2"></i>
        </a>
    </div>
</div>

<!-- ======= Language selector ======= -->
<ul th:fragment="language_tool" class="dropdown-menu" aria-labelledby="dropdownLanguages">
    <li>
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="${urlBuilder.replaceQueryParam('lang', 'pl').toUriString()}"
           th:class="'dropdown-item btn btn-outline-secondary'+${#strings.equals(#locale, 'pl') ? ' active' : ''}">
            <img th:src="@{/assets/img/flags/poland.png}" alt="Polski" class="language_flag_selector_icon"> Polski
        </a>
    </li>
    <li>
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}"
           th:class="'dropdown-item btn btn-outline-secondary'+${#strings.equals(#locale, 'en') ? ' active' : '' }">
            <img th:src="@{/assets/img/flags/united-kingdom.png}" alt="English" class="language_flag_selector_icon">
            English
        </a>
    </li>
</ul>

<!-- ======= Pagination ======= -->
<div th:fragment="pagination" class="d-flex p-2 justify-content-center"
     th:with="offset=3,bottom_offset=${pageActive - offset},upper_offset=${pageActive + offset},last=${pagesAmount - 1}">
    <ul th:class="pagination"
        th:with="start=${bottom_offset < 0 ? 0 : (upper_offset > last ? (bottom_offset - (upper_offset - last) < 0 ? 0 : bottom_offset - (upper_offset - last)) : bottom_offset)},
        end=${upper_offset >= last ? last : (bottom_offset < 0 ? (upper_offset - bottom_offset >= last ? last : upper_offset - bottom_offset) : upper_offset)}">
        <li th:if="${start > 0}" th:class="page-item">
            <a th:class="page-link"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('page', '0').toUriString()}">1</a>
        </li>
        <li th:if="${start > 1}" th:class="page-item">
            <a th:class="page-link">...</a>
        </li>
        <li th:each="counter : ${#numbers.sequence(start,end)}"
            th:class="'page-item '+${counter eq pageActive ? 'active' : ''}">
            <a th:class="page-link" th:text="${counter+1}"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('page', counter).toUriString()}">#</a>
        </li>
        <li th:if="${end < last - 1}" th:class="page-item">
            <a th:class="page-link">...</a>
        </li>
        <li th:if="${end < last}" th:class="page-item">
            <a th:class="page-link"
               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('page', last).toUriString()}"
               th:text="${last+1}">Last</a>
        </li>
    </ul>
</div>
<!-- ======= Charts ======= -->
<div th:fragment="charts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <canvas id="myChart" style="width:100%"></canvas>

    <script th:inline="javascript">


        let currencies = /*[[${chartData}]]*/;
        var xValues = currencies.map(currency => currency.tradingDate);

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    data: currencies.map(currency => currency.bidPrice),
                    borderColor: "red",
                    fill: false
                },{
                    data: currencies.map(currency => currency.askPrice),
                    borderColor: "blue",
                    fill: false
                }]
            },
            options: {
                legend: {display: false}
            }
        });
    </script>
</div>
</html>