<div th:fragment="language_tool">


    <div class="btn-group">
        <a th:href="@{/(lang=${'en'})}" th:class="'btn btn-outline-secondary'+${#strings.equals(#locale, 'en') ? ' active' : '' }">
            <img th:src="@{assets/img/flags/gb.png}" alt="Angielski" class="language_flag_selector_icon">
        </a>
        <a th:href="@{/(lang=${'pl'})}" th:class="'btn btn-outline-secondary'+${#strings.equals(#locale, 'pl') ? ' active' : ''}">
            <img th:src="@{assets/img/flags/pl.png}" alt="Polski" class="language_flag_selector_icon">
        </a>
    </div>
</div>