<div th:fragment="search_bar" class="input-group">
    <input class="form-control form-control w-50" type="text" placeholder="Search..." name="searchPhrase"  th:value="${filtrationSettings.searchPhrase}"/>
    <select class="form-select w-25" id="inputGroupSelect01"  name="searchType">
        <option th:value="'table'" th:text="table" th:selected="${filtrationSettings.searchType eq 'table'}"></option>
        <option th:value="'currency'" th:text="currency" th:selected="${filtrationSettings.searchType eq 'currency'}">currency</option>
    </select>
    <input class="form-control form-control-sm w-25" type="submit" value="Search"/>
</div>
<div th:fragment="search_pagination" class="d-flex justify-content-center">
    <ul class="pagination">
        <li th:if="${pageActive - 3 > 0}" th:class="page-item">
            <a th:class="page-link"  th:href="@{/search(page=${0},
                    size=${pageSize},
                    searchPhrase=${filtrationSettings.searchPhrase},
                    searchType=${filtrationSettings.searchType},
                    effectiveDateMin=${filtrationSettings.effectiveDateMin},
                    effectiveDateMax=${filtrationSettings.effectiveDateMax},
                    tradingDateMin=${filtrationSettings.tradingDateMin},
                    tradingDateMax=${filtrationSettings.tradingDateMax},
                    bidPriceMin=${filtrationSettings.bidPriceMin},
                    bidPriceMax=${filtrationSettings.bidPriceMax},
                    askPriceMin=${filtrationSettings.askPriceMin},
                    askPriceMax=${filtrationSettings.askPriceMax},
                    currency=${filtrationSettings.currency})}">First</a>
        </li>
        <li th:each="counter : ${#numbers.sequence(pageActive - 3 < 0 ? 0 : pageActive - 3, pageActive + 3 > pagesAmount - 1 ? pagesAmount - 1 : pageActive + 3)}" th:class="'page-item '+${counter eq pageActive ? 'active' : ''}">
            <a th:class="page-link"  th:text="${counter+1}" th:href="@{/search(page=${counter},
                    size=${pageSize},
                    searchPhrase=${filtrationSettings.searchPhrase},
                    searchType=${filtrationSettings.searchType},
                    effectiveDateMin=${filtrationSettings.effectiveDateMin},
                    effectiveDateMax=${filtrationSettings.effectiveDateMax},
                    tradingDateMin=${filtrationSettings.tradingDateMin},
                    tradingDateMax=${filtrationSettings.tradingDateMax},
                    bidPriceMin=${filtrationSettings.bidPriceMin},
                    bidPriceMax=${filtrationSettings.bidPriceMax},
                    askPriceMin=${filtrationSettings.askPriceMin},
                    askPriceMax=${filtrationSettings.askPriceMax},
                    currency=${filtrationSettings.currency})}">#</a>
        </li>
        <li th:if="${pageActive + 3 < pagesAmount - 1}" th:class="page-item">
            <a th:class="page-link"  th:href="@{/search(page=${pagesAmount - 1},
                    size=${pageSize},
                    searchPhrase=${filtrationSettings.searchPhrase},
                    searchType=${filtrationSettings.searchType},
                    effectiveDateMin=${filtrationSettings.effectiveDateMin},
                    effectiveDateMax=${filtrationSettings.effectiveDateMax},
                    tradingDateMin=${filtrationSettings.tradingDateMin},
                    tradingDateMax=${filtrationSettings.tradingDateMax},
                    bidPriceMin=${filtrationSettings.bidPriceMin},
                    bidPriceMax=${filtrationSettings.bidPriceMax},
                    askPriceMin=${filtrationSettings.askPriceMin},
                    askPriceMax=${filtrationSettings.askPriceMax},
                    currency=${filtrationSettings.currency})}">Last</a>
        </li>
    </ul>
</div>