<div th:fragment="search_bar" class="input-group">
    <input class="form-control form-control w-50" type="text" placeholder="Search..." name="searchPhrase"  th:value="${filtrationSettings.searchPhrase}"/>
    <select class="form-select w-25" id="inputGroupSelect01"  name="searchType">
        <option th:value="'table'" th:text="table" th:selected="${filtrationSettings.searchType eq 'table'}"></option>
        <option th:value="'currency'" th:text="currency" th:selected="${filtrationSettings.searchType eq 'currency'}">currency</option>
    </select>
    <input class="form-control form-control-sm w-25" type="submit" value="Search"/>
</div>