<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

<header th:insert="fragments/general :: menu"></header>

<!-- ======= Main =======-->

<main>

    <div class="container p-5">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <canvas id="myChart" style="width:100%"></canvas>

        <script th:inline="javascript">

            let stats = /*[[${results}]]*/;
            var xValues = stats.map(stat => stat.date);

            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        label: stats[0].code,
                        lineTension: 0,
                        data: stats.map(stat => stat.counter),
                        borderColor: "blue",
                        fill: false
                    }]
                },
                options: {}
            });
        </script>
    </div>


    <div class="container p-5">
        <div th:each="result:${results}">
            <p th:text="${result.code}"></p>
            <p th:text="${result.date}"></p>
            <p th:text="${result.counter}"></p>
        </div>
    </div>


</main>

<footer th:insert="fragments/general :: footer"></footer>

<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>