<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<header th:insert="fragments/general :: menu"></header>
<main>

    <section class="bg-primary text-light p-5 text-center">
        <div class="container">
            <h1 th:text="${#messages.msgOrNull('currency.' + #strings.toString(results.get(0).code)) != null} ? #{'currency.'+${results.get(0).code}} : ${results.get(0).code}"></h1>
        </div>
    </section>

    <div class="container p-5">

        <a class="btn btn-sm m-1 btn-primary" href="/stats" th:text="#{chart.back}"
           style="margin: 8px; position: auto; right: 10%"></a>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <canvas id="myChart" style="width:100%"></canvas>

        <script th:inline="javascript">

            let stats = /*[[${results}]]*/;
            var xValues = stats.map(stat => stat.date);

            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        label: stats[0].code,
                        lineTension: 0,
                        data: stats.map(stat => stat.counter),
                        borderColor: "blue",
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            ticks: {
                                callback: function (val, index) {
                                    return index % 2 === 0 ? this.getLabelForValue(val) : '';
                                }
                            }
                        }
                    },
                    legend: {display: true}
                }
            });
        </script>
    </div>

    <div class=" container p-5">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col" th:text="#{chart.stats.date}"></th>
                <th scope="col" th:text="#{chart.stats.counter}">Ask Price</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="result:${results}">
                <td th:text="${result.date}"></td>
                <td th:text="${result.counter}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:insert=" fragments/general :: footer"></footer>

<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>