<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title} + #{user.history.title}"></title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body class="d-flex flex-column min-vh-100">

<header th:insert="fragments/general :: menu"></header>

<section class="bg-primary text-light p-5 text-center">
    <div class="container">
        <h1 th:text="#{user.wallet.title}"></h1>
    </div>
</section>
<!-- ======= Main ======= -->
<main>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-3">
                <div th:insert="fragments/user :: menu"></div>
            </div>
            <div class="col-12 col-md-9">
                <div class="text-start">
                    <div class="h3 text-secondary ms-3 mb-3">
                        <i class="bi bi-grid-3x2-gap-fill"></i>
                        <span th:text="#{user.history.title}"></span>
                    </div>
                </div>
                <table class="table table-striped table-sm ms-3">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{user.history.date}"></th>
                        <th scope="col" th:text="#{user.history.exchange.rate}"></th>
                        <th scope="col" th:text="#{user.history.operation}"></th>
                        <th scope="col" th:text="#{user.history.amount}"></th>
                        <th scope="col" th:text="#{user.history.currency}"></th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="user" type="org.infoshare.rekinyfinansjeryweb.entity.user.User"*/-->
                    <tr th:if="${operationhistory.size()>0}" th:each="operation : ${operationhistory}">
                        <td th:text="${#temporals.format(operation.dateOperation, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${operation.exchangeRate}"></td>
                        <td th:text="#{'user.history.'+${operation.operation}}"></td>
                        <td th:text="${#numbers.formatDecimal(operation.amount, 1, 'WHITESPACE', 2, 'COMMA')}"></td>
                        <td th:text="${operation.currency}"></td>
                    </tr>
                    <tr th:unless="${operationhistory.size()>0}">
                        <td colspan="5" th:text="#{user.no.items}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>

<footer class="mt-auto" th:insert="fragments/general :: footer"></footer>

<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>




