<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

<header th:insert="fragments/general :: menu"></header>

<!-- ======= Main ======= -->
<main>
    <div class="container">

        <h1>Currency History</h1>


        <table>
            <tr>
                <th>
                    Header
                </th>
            </tr>
            <tr th:each="someData : ${@currencyChartController.getChartData(code)}">
                <td th:text="${@currencyChartController.getChartData(code)}"></td>
            </tr>
        </table>

<!--        <li th:each="exchangeRate : ${collectionsOfExchangeRates}">-->
<!--            <p th:text="${exchangeRate.getNo()}"></p>-->
<!--            <p th:text="${exchangeRate.getEffectiveDate()}"></p>-->
<!--            <p th:text="${exchangeRate.getTable()}"></p>-->

    </div>
</main>

<footer th:insert="fragments/general :: footer"></footer>

<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>