<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reliable and most up-to-date currency information">
    <title>Rekiny Finansjery</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

<header th:insert="fragments/general :: menu"></header>

<!-- ======= Hero ======= -->
<section id="hero" class="bg-light text-dark p-5 text-center text-sm-start">
    <div class="container mb-3">
        <div class="d-md-flex align-items-center justify-content-between">
            <div>
                <h1><span th:text="#{main.hero.header.1}"></span> <span th:text="#{main.hero.header.2}"
                                                                        class="text-primary"></span></h1>
                <p class="lead my-4">
                    <span th:text="#{main.hero.introduction.1}"></span><br>
                    <span th:text="#{main.hero.introduction.2}"></span><br>
                </p>
                <a class="btn btn-primary btn-lg" th:href="@{/signup}" type="button">
                    <i class="bi bi-chevron-right"></i> <span th:text="#{main.button.sign.up.for.free}"></span>
                </a>
            </div>
            <img class="img-fluid w-75 d-none d-md-block" th:src="@{assets/img/rekin.png}" alt="Rekiny Finansjery">
        </div>
    </div>
</section>

<!-- ======= Search ======= -->
<section id="search" class="bg-primary text-light p-5">
    <div class="container">
        <form th:action="@{/search}" th:object="${searchSettings}">
            <div class="d-md-flex align-items-center justify-content-between">
                <h3 th:text="#{main.search.currency}" class="mb-3 mb-md-0">Search Currency</h3>
                <div class="input-group currency-input">
                    <input class="form-control form-control w-75" type="text" th:placeholder="#{search.placeholder}"
                           name="searchPhrase"/>
                    <input class="form-control form-control-sm w-25" type="submit" th:value="#{search.button}"/>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- ======= About ======= -->
<section id="about" class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-between pt-1 mb-4">
            <div class="col-md w-100 me-5">
                <button type="button" class="btn btn-sm mx-1 mb-2 btn-primary" th:each="record : ${chartsData}"
                        th:text="${record.code}" th:attr="onclick=|showCurrencyChart('${record.code}')|"></button>
                <script th:inline="javascript">
                    var currencies = new Map();
                    var currencies_codes = [[${currencies}]];

                    function showCurrencyChart(code) {
                        for (const c of currencies_codes) {
                            document.getElementById('small_chart_' + c).classList.remove("chart_transition_visible");
                            document.getElementById('small_chart_' + c).classList.add("chart_transition_hidden");
                        }
                        document.getElementById('small_chart_' + code).classList.add("chart_transition_visible");
                        document.getElementById('small_chart_' + code).classList.remove("chart_transition_hidden");
                    }
                </script>
                <div class="p-3" th:each="record : ${chartsData}" th:id="'small_chart_'+${record.code}"
                     th:class="${chartsData.get(0).code == record.code ? 'chart_transition_visible' : 'chart_transition_hidden'}">
                    <h5 th:text="${record.code} + ' - ' + #{chart.title}">Title</h5>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <canvas th:id="'myChart' + ${record.code}" style="width: 612px; height: 306px;"></canvas>
                    <script th:inline="javascript">
                        currencies.set([[${record.code}]], [[${record.chartsData}]]);

                        new Chart("myChart" + [[${record.code}]], {
                            type: "line",
                            data: {
                                labels: currencies.get([[${record.code}]]).map(currency => currency.date),
                                datasets: [{
                                    label: [[#{user.history.BID}]],
                                    data: currencies.get([[${record.code}]]).map(currency => currency.bidPrice),
                                    borderColor: "red",
                                    fill: false
                                }, {
                                    label: [[#{user.history.ASK}]],
                                    data: currencies.get([[${record.code}]]).map(currency => currency.askPrice),
                                    borderColor: "blue",
                                    fill: false
                                }]
                            },
                            options: {
                                responsive: false,
                                scales: {
                                    x: {
                                        ticks: {
                                            callback: function (val, index) {
                                                return index % 2 === 0 ? this.getLabelForValue(val) : '';
                                            }
                                        }
                                    }
                                },
                                legend: {display: false}
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="col-md">
                <h3 class="pb-3" th:text="#{index.about}"></h3>
                <p class="lead" th:text="#{index.about.p2}"></p>
                <p class="lead" th:text="#{index.about.p1}"></p>
                <p class="lead" th:text="#{index.about.p4}"></p>
                <p class="lead" th:text="#{index.about.p5}"></p>
                <p class="lead" th:text="#{index.about.p3}"></p>
            </div>
        </div>
    </div>
</section>

<!-- ======= Divider ======= -->
<section class="py-4 bg-primary"></section>

<!-- ======= Recommendations ======= -->
<section id="recommendations" class="p-5 pb-lg-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md w-100 pt-4 me-5">
                <h2 class="pb-3" th:text="#{index.about.recommendations}"></h2>
                <p class="lead" th:text="#{index.about.p9}"></p>
                <p class="lead" th:text="#{index.about.p7}"></p>
                <p class="lead" th:text="#{index.about.p8}"></p>
                <p class="lead" th:text="#{index.about.p6}"></p>
            </div>
            <div class="col-md w-50">
                <img class="mb-0 ps-2 img-fluid d-none d-md-block" th:src="@{assets/img/reviews.svg}" alt="Reviews">
            </div>
        </div>
    </div>
</section>
<!-- ======= Developers ======= -->
<section id="developers" class="p-5 bg-primary">
    <div class="container mb-5">
        <h2 class="text-center text-white">Developers</h2>
        <p th:text="#{main.developers}" class="lead text-center text-white mb-5">
            Our best developers who are behind Rekiny Finansjery
        </p>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://avatars.githubusercontent.com/u/94741392?v=4" class="rounded-circle w-50 mb-3"
                             alt="Filip Bakowski">
                        <h3 class="card-title mb-3">Filip Bąkowski</h3>
                        <p class="card-text">Java Developer</p>
                        <a href="https://www.linkedin.com/in/filip-b%C4%85kowski-2213881b8/"><i
                                class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="https://github.com/FilipBakowski"><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://avatars.githubusercontent.com/u/24697162?v=4" class="rounded-circle w-50 mb-3"
                             alt="Zbyszek Bulecki">
                        <h3 class="card-title mb-3">Zbyszek Bułecki</h3>
                        <p class="card-text">Java Developer</p>
                        <a href="https://www.linkedin.com/in/zbigniew-bu%C5%82ecki-58b68a67/"><i
                                class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="https://github.com/zbyszek-bulecki"><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://avatars.githubusercontent.com/u/96893411?v=4" class="rounded-circle w-50 mb-3"
                             alt="Maciej Chyla">
                        <h3 class="card-title mb-3">Maciej Chyła</h3>
                        <p class="card-text">Java Developer</p>
                        <a href="https://www.linkedin.com/in/maciej-chyla/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="https://github.com/maciejchyla"><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://avatars.githubusercontent.com/u/9007609?v=4" class="rounded-circle w-50 mb-3"
                             alt="Paulina Wojcik">
                        <h3 class="card-title mb-3">Paulina Wójcik</h3>
                        <p class="card-text">Java Developer</p>
                        <a href="https://www.linkedin.com/in/wojcik-paulina/"><i
                                class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="https://github.com/pinawoj"><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:insert="fragments/general :: footer"></footer>
<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>