<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reliable and most up-to-date currency information">
    <title>Search Currency</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

<header th:insert="fragments/general :: menu"></header>
<!-- ======= Hero ======= -->
<section class="bg-primary text-light p-5 text-center">
    <div class="container">
        <h1 th:text="#{search.title}"></h1>
    </div>
</section>
<!-- ======= Main ======= -->
<main>
    <div class="container mt-3">
        <form id="filtration_settings_form" name="filtration_settings_form" class="form-group" th:object="${searchSettings}">
            <div class="row">
                <div class="col-12 mb-4" th:insert="fragments/search :: search_bar"></div>
                <div class="col-3">
                    <div th:insert="fragments/filtration :: filtration_tool"></div>
                </div>
                <div class="col-9">
                    <div th:insert="fragments/collectionView :: page_wraper"></div>
                </div>
            </div>
        </form>
    </div>
</main>
<div th:insert="fragments/filtration :: saving_filtration_preferences_input"></div>
<footer th:insert="fragments/general :: footer"></footer>
<script th:src="@{~/js/filtrationForm.js}"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>