<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>

<header th:insert="fragments/general :: header"></header>
<div th:insert="fragments/general :: hero"></div>

<!-- ======= Main ======= -->
<main>
    <div class="container mt-3">

        <h1>Hello World</h1>

    </div>
</main>

<footer th:insert="fragments/general :: footer"></footer>

<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>