<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reliable and most up-to-date currency information">
    <title>Rekiny Finansjery</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<header th:insert="fragments/general :: menu"></header>



<footer th:insert="fragments/general :: footer"></footer>
<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>