body::before {
    display: block;
    content: "";
    height: 75px;
}

@media (min-width: 768px) {
    .currency-input {
        width: 50%;
    }
}

#filtration_input label {
    margin-top: 8px;
}