body::before {
    display: block;
    content: "";
    height: 75px;
}

@media (min-width: 768px) {
    .currency-input {
        width: 50%;
    }
}

.language_flag_selector_icon {
    width: 20px;
}

#filtration_input label {
    margin-top: 8px;
}

/*=== FORM ===*/
#form input {
    margin-top: 5px;
    margin-bottom: 5px;
}